@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
.glow:hover {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #6e6e6e, 0 0 40px #6e6e6e, 0 0 50px #6e6e6e, 0 0 60px #6e6e6e, 0 0 70px #6e6e6e;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #353535, 0 0 40px #353535, 0 0 50px #353535, 0 0 60px #353535, 0 0 70px #353535, 0 0 80px #353535;
  }
}

/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* html, html:before, html:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%;
}

audio {
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table td,
table th {
  padding: 0;
  text-align: left;
}

html {
  font-size: 16px;
}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {
  margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

small, .text_small {
  font-size: 0.667em;
}

/* .fixed {
    // font-family: $fixed-font-family;
    // font-size: $fixed-font-size;
    // line-height: $fixed-line-height;
}
 */
.quiet {
  color: cornflowerblue;
}

.loud, .bold {
  color: tomato;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.block-margins {
  margin: 1em 0;
}

.unordered-list {
  list-style-type: disc;
}

.ordered-list {
  list-style: decimal;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25rem 1rem;
  background: #353541;
  position: fixed;
  top: 0;
  width: 100%;
}

.site-nav .menu-icon {
  width: 2rem;
}

.page-header {
  padding: calc(2rem + 3vh) 0;
  background: #353541;
  color: white;
  text-align: center;
}

.page-header img {
  max-width: 298px;
  width: 60%;
  margin-bottom: 1.5rem;
}

.page-header h1 {
  font-size: calc(20px + 3vw);
  line-height: calc(20px + 3vw);
}

.page-header p {
  font-size: calc(12px + 1vw);
  color: #a1a1a5;
}

.buttons {
  padding: 10px 45px;
  border-radius: 5px;
  color: white;
  margin: 10px;
  text-align: center;
}

.main-button {
  background-color: #fb6470;
  border: #fb6470;
}

.secondary-button {
  background-color: #32bec7;
  border: #32bec7;
}

@media (max-width: 480px) {
  .buttons {
    min-width: 100px;
    width: 40vw;
  }
}

.text-center {
  text-align: center;
}

.flex-center-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  fill: white;
  width: 35px;
}

.skill-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid;
  background-image: linear-gradient(18deg, white 50%, transparent 50%), linear-gradient(-90deg, red 50%, transparent 50%);
}
/*# sourceMappingURL=style.css.map */