.buttons{
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    margin: 5px;
    text-align: center;
    min-width: 100px;
    max-width: 275px;
    width: 40vw;
    cursor: pointer;
}
.main-button{
    background-color: #fb6470;
    border: #fb6470;
}
.secondary-button{
    background-color: #32bec7;
    border: #32bec7;
    margin-bottom: 30px;
}
@media (min-width: 480px){
    .buttons{
        min-width: 200px;
    }
    .main-button{
        margin-bottom: 30px;
    }
    .button-group{
        flex-direction: row;
    }
}