@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html {font-size: 16px;}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.25em;}

h1, h2, h3, h4, h5 {
  margin: 1rem 0 0.5rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

$h1: calc(20px + 3vw);
$h2: calc(20px + 2vw);
$h3: calc(20px + 1vw);
$h4: calc(15px + 1vw);
$h5: calc(10px + 1vw);
